.wrapper {
    width: 100%;
}

.bar {
    background-color: var(--c-lght_100);
    color: var(--c-drk_100);
}

.barContent {
    display: flex;
    align-items: center;
    gap: 4px;
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: 0 calc(var(--s-xl) + 4px);
}

.barContent img,
.barContent svg {
    height: 24px;
}

.description {
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: var(--s-s) var(--s-xl);
}

@media (max-width: 768px) {
    .barContent {
        padding: 0 var(--s-m);
    }

    .description {
        padding: var(--s-s) var(--s-m);
    }
}
