.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}

.gridTxt {
    composes: grid;
    height: 53px;
    width: 74px;
    font: var(--f-deco-tiny);
}

.gridCrcl {
    composes: grid;
    height: 44px;
    width: 44px;
}
