.page {
    min-height: 100vh;
}

.section {
    background-color: var(--c-drk_100);
}

.header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 96px;
    margin: 0 auto;
    max-width: 60%;
}

.synopsis {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 96px;
}

.synopsisSubtitle {
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
}

.synopsisSubtitle img {
    height: 16px;
}

.full {
    margin-top: 96px;
    width: 100vw;
    height: 80vh;
}

.full img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.imgFullWidth {
    width: 100%;
    height: auto;
}

.double {
    margin-top: 96px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    height: 60vh;
}

.double img {
    object-fit: contain;
    width: calc(50vw - 12px);
    height: 100%;
}

.fullThin {
    margin-top: 96px;
    width: 100vw;
    height: 40vh;
}

.fullThin img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
