.wrapper {
    display: flex;
    gap: var(--s-l);
    padding: 0 var(--s-xl);
    margin: 0 auto;
    max-width: var(--content-max-width);
}

.item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--s-xxs);
    padding-left: var(--s-s);
    border-left: 1px solid var(--c-brnd_100);
}

.item strong {
    font: var(--f-func-tiny);
    color: var(--c-brnd_100);
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.item span {
    font: var(--f-paragraph);
    color: var(--c-lght_100);
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        gap: var(--s-m);
        padding: 0 var(--s-m);
    }
}
