.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--s-s);
    padding: 0 var(--s-xl);
    margin: 0 auto;
    max-width: var(--content-max-width);
}

.wrapper h2 {
    font: var(--f-hdr_2);
    letter-spacing: 0.04em;
    color: var(--c-lght_100);
    line-height: 1.2;
}

.wrapper p {
    font: var(--f-paragraph);
    color: var(--c-lght_40);
}

.label {
    font: var(--f-paragraph);
    color: var(--c-brnd_100);
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
