.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60vh;
}

.wrapper img {
    object-fit: contain;
    width: calc(50% - var(--s-xs));
    height: 100%;
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        height: auto;
        gap: var(--s-s);
    }

    .wrapper img {
        width: 100%;
        height: 40vh;
    }
}
