.section {
    display: flex;
    height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: end;
}

.bannerWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
}

.gridOverlay {
    z-index: 1;
}

.bannerWrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent 70%, var(--c-drk_100) 100%);
    pointer-events: none;
    z-index: 2;
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 4rem 0;
    width: 4rem;
}

.sideTop,
.sideBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--s-m);
}

.iconArray {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--s-xs);
    padding: var(--s-xs);
}

.textArray {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    gap: var(--s-xs);
    padding: 0 var(--s-s);
}

.textArray p {
    height: fit-content;
    width: fit-content;
}

.sideText {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--s-xs);
}

.sideDecal {
    width: 48px;
    height: 48px;
}

.sideDecal svg {
    width: 100%;
    height: 100%;
}

.titleDecal {
    width: 32px;
    height: 32px;
}

.titleWrapper {
    display: flex;
    align-items: center;
    gap: var(--s-xs);
    margin: 0 var(--s-l) var(--s-xl) 0;
    mix-blend-mode: difference;
}

.sideTag {
    color: var(--c-drk_100);
    background-color: var(--c-brnd_100);
    padding: var(--s-xs) 0;
}

@media (max-width: 768px) {
    .side {
        display: none;
    }

    .titleWrapper {
        margin: 0 var(--s-m) var(--s-m) 0;
    }
}
