.hero-section {
    display: flex;
    height: 100vh;
}

.hero-content {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: end;
}

.hero-banner-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
}

.hero-banner-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent 70%, var(--c-DRK) 100%);
    pointer-events: none;
}

.hero-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 4rem 0;
    width: 4rem;
    mix-blend-mode: luminosity;
}

.hero-side-top, .hero-side-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.icon-array {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 0.25rem;
}

.text-array {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: start;
    gap: 4px;
    padding: 0 0.75rem;
}

.text-array p {
    height: fit-content;
    width: fit-content;
}

.hero-side-text {
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
}

.hero-side-decal {
    width: 48px;
    height: 48px;
}

.hero-title-wrapper {
    display: flex;
    gap: 8px;
    margin: 0 3rem 4rem 0;
    mix-blend-mode: difference;
}
