.wrapper {
    width: 100%;
    height: 80vh;
}

.wrapper img,
.wrapper video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.thin {
    height: 40vh;
}

.contain {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .wrapper {
        height: 50vh;
    }

    .thin {
        height: 30vh;
    }
}
