.loadingScreen {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.loadingBackground {
    position: absolute;
    inset: 0;
    background: var(--c-drk_100);
}

.logoWrapper {
    position: relative;
    z-index: 1;
    margin-bottom: 2rem;
}

.blockLogo {
    width: 288px;
    height: 192px;
    image-rendering: pixelated;
}

.loadingText {
    position: absolute;
    z-index: 1;
    background-color: var(--c-drk_100);
    font: var(--f-func-small);
    color: var(--c-brnd_100);
}
