.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--s-s);
    padding: 0 var(--s-xl);
    margin: 0 auto;
    max-width: var(--content-max-width);
}

.section {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: var(--s-s) 0;
}

.label {
    font: var(--f-func-tiny);
    color: var(--c-brnd_100);
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.title {
    font: var(--f-hdr_2);
    letter-spacing: 0.06em;
    color: var(--c-lght_100);
}

@media (max-width: 768px) {
    .wrapper {
        padding: 0 var(--s-m);
    }
}
