.statusMessage {
    padding: var(--s-s);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
    pointer-events: none;
    overflow: hidden;
    background-color: var(--c-brnd_100);
    transform-origin: right center;
    will-change: clip-path, opacity;
}

.iconWrapper {
    display: grid;
    place-items: center;
    width: 48px;
    height: 48px;
}

.decoIcon {
    position: absolute;
    height: 64px;
}

.statusIcon {
    width: 48px;
    height: 48px;
    color: var(--c-drk_100);
}

.message {
    font: var(--f-func);
    color: var(--c-drk_100);
    text-align: right;
}

.cornerIconTR {
    position: absolute;
    top: -32px;
    right: -32px;
    width: 48px;
    height: 48px;
    color: var(--c-brnd_-100);
}

.cornerIconBL {
    position: absolute;
    bottom: -32px;
    left: -32px;
    width: 48px;
    height: 48px;
    color: var(--c-brnd_-100);
}

.success {
    background-color: var(--c-ok_100);
}

.warning {
    background-color: var(--c-warn_100);
}

.error {
    background-color: var(--c-error_100);
}
