.work-header-chapter {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 4px;
    background-color: var(--c-lght_100);
    color: var(--c-drk_100);
}

.work-header-chapter img {
    height: 24px;
    mix-blend-mode: difference;
}