.curtainTransition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 20;
    overflow: hidden;
}

.curtainTransition[data-active] {
    pointer-events: auto;
}

.curtainLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
}

.curtainLabel {
    font: var(--f-HEADER);
    text-transform: uppercase;
    color: var(--c-LGHT);
    pointer-events: none;
    user-select: none;
}